.brackets.json
.DS_Store
.npmignore
.log
**/Thumbs.db
/.idea
/build/reports
/dist
/generated
/jspm_packages
/node_modules
/scratch
/target
/.vscode
/.history
/.sass-cache
/index.html
package-lock.json
