/*------------------------------------*\
  #GLOBAL SETTINGS
\*------------------------------------*/

html, body {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1200px;
  margin: auto;
  font-family: 'Arial', 'Helvetica', 'sans-serif';
}

.flex {
  display: flex;
}
.flex--justify-around {
  justify-content: space-around;
}
.flex--justify-between {
  justify-content: space-between;
}
.flex--position-center-h {
  align-content: center;
}
.flex--position-center-v {
  align-self: center;
}
.flex--position-end-v {
  align-self: flex-end;
}
.flex--direction-cols {
  flex-direction: column;
}
.flex--direction-rows {
  flex-direction: row;
}
.flex--grow-0 {
  flex-grow: 0;
}
.flex--grow-1 {
  flex-grow: 1;
}
.flex--wrap {
  flex-wrap: wrap;
}
.flex--fill {
  flex-grow: 1;
}

.mar--auto {
  margin: auto;
}
.mar--all-10 {
  margin: 10px;
}
.mar--t-10 {
  margin-top: 10px;
}
.mar--t-20 {
  margin-top: 20px;
}
.mar--b-10 {
  margin-bottom: 10px;
}
.mar--b-20 {
  margin-bottom: 20px;
}

.pad--all-10 {
  padding: 10px;
}
.pad--all-20 {
  padding: 20px;
}
.pad--t-40 {
  padding-top: 40px;
}
.pad--r-20 {
  padding-right: 20px;
}
.pad--b-20 {
  padding-bottom: 20px;
}
.pad--l-20 {
  padding-left: 20px;
}

.hoverable {
  cursor: pointer;
}

.relative {
  position: relative;
}

form select {
  width: 100%;
  cursor: pointer;
}
form option {
  color: var(--gray);
  background: var(--white);
  font-size: var(--medium-font);
}
form textarea {
  resize: none;
  min-height: 100px;
  max-height: 500px;
}
form input, form textarea, form select, form option {
  background: rgba(0, 0, 0, 0);
  padding: 10px;
  margin: 5px 0;
  border-radius: 2px;
  border: 1px solid var(--gray);
  color: var(--gray);
}
form input.hasValue, form textarea.hasValue, form select.hasValue, form option.hasValue {
  background: var(--gray);
  color: var(--white);
}
form input.hasValue option, form textarea.hasValue option, form select.hasValue option, form option.hasValue option {
  color: var(--white);
  background: var(--gray);
  font-size: var(--medium-font);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--gray) inset;
  -webkit-box-shadow: 0 0 0 30px var(--gray) inset;
  -webkit-text-fill-color: var(--white);
}

.error-wrap {
  position: relative;
}
.error-wrap:hover .error {
  opacity: 0.4;
}

.error {
  background: var(--red);
  color: var(--white);
  font-size: var(--tiny);
  padding: 2px 4px;
}
.error--top {
  position: absolute;
  top: 6px;
}
.error--right {
  position: absolute;
  right: 1px;
}

button:disabled {
  background: var(--gray);
  cursor: default;
}
.hidden {
  display: none;
}

.height--full { height: 100%; }


/*------------------------------------*\
  #SCROLLBAR
\*------------------------------------*/

body::-webkit-scrollbar {
  width: 1em;
}
div::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
div::-webkit-scrollbar-track {
  background: #ffffff;
}
 
#content::-webkit-scrollbar-thumb {
  background-color: var(--red);
  outline: 1px solid var(--red);
}
 
div::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  outline: 1px solid var(--gray);
}

@media screen and (max-width: 500px) {
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.0);
  }
  div::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.0);
  }
   
  div::-webkit-scrollbar-thumb,
  body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.0)!important;
    outline: 1px solid rgba(0, 0, 0, 0.0)!important;
  }
}