/*------------------------------------*\
  #THEME SETTINGS
\*------------------------------------*/

:root {
  --red: #690c15;
  --white: #ffffff;
  --gray: #3f3f40;
  
  --tiny: 14px;
  --small: 16px;
  --medium: 20px;
  --large: 28px;
}

.font--tiny {
  font-size: var(--tiny);
}
.font--small {
  font-size: var(--small);
}
.font--medium {
  font-size: var(--medium);
}
.font--large {
  font-size: var(--large);
}

.text--red {
  color: var(--red);
}
.text--white {
  color: var(--white);
}
.text--gray {
  color: var(--gray);
}

.background--red {
  background-color: var(--red);
}
.background--white {
  background-color: var(--white);
}
.background--gray {
  background-color: var(--gray);
}

.theme--light #header,
.theme--light #footer,
.theme--light a {
  color: var(--gray);
  background: var(--white);
}
.theme--dark #header,
.theme--dark #footer,
.theme--dark a {
  color: var(--white)!important;
  background: var(--gray)!important;
}
